package com.janmee.stock.vo.query;

import com.seewo.core.base.BaseQuery;
import java.util.Date;
import org.apache.commons.lang.builder.ToStringBuilder;

public class <%=className%>Query extends BaseQuery {
    <%
    _.forEach(columns, function(column){
        if(column.Field=='created_at'|| column.Field=='updated_at') return;
    %>
    /**
     * <%=column.Comment%>
     */
    private <%=column.JavaType%> <%=column.JavaField%>;
    <%
    });

    _.forEach(columns, function(column){
        if(column.Field=='created_at'|| column.Field=='updated_at') return;
    %>
    public <%=column.JavaType%> get<%=column.JavaField.capitalizeFirstLetter()%>() {
        return <%=column.JavaField%>;
    }

    public void set<%=column.JavaField.capitalizeFirstLetter()%>(<%=column.JavaType%> <%=column.JavaField%>){
        this.<%=column.JavaField%> = <%=column.JavaField%>;
    }
    <%
    });
    %>
    @Override
    public String toString() {
        return ToStringBuilder.reflectionToString(this);
    }
}