package com.janmee.stock.service;

import com.janmee.stock.entity.<%=className%>;
import com.janmee.stock.vo.query.<%=className%>Query;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;

import java.util.List;

public interface <%=className%>Service {

	Page<<%=className%>> findAll(Pageable pageable);

	Page<<%=className%>> findAll(<%=className%>Query query, Pageable pageable);

	<%=className%> findOne(String id);

	<%=className%> create(<%=className%> <%=className.lowerFirst()%>);

	<%=className%> update(<%=className%> <%=className.lowerFirst()%>);

	void delete(String id);
}
