package com.janmee.stock.entity;

import org.apache.commons.lang.builder.ToStringBuilder;
import org.hibernate.annotations.Where;

import javax.persistence.Column;
import javax.persistence.Entity;
import javax.persistence.Table;
import java.util.Date;

@Entity
@Table(name = "<%=tableName%>")
@Where(clause = "is_deleted=0")
public class <%=className%> extends IdEntity{
    <%
    _.forEach(columns, function(column){
        if(column.Field=='uid' ||column.Field=='id' || column.Field=='created_at'|| column.Field=='updated_at') return;
    %>
    /**
     * <%=column.Comment%>
     */
    private <%=column.JavaType%> <%=column.JavaField%>;
    <%
    });
    _.forEach(columns, function(column){
        if(column.Field=='uid' ||column.Field=='id' || column.Field=='created_at'|| column.Field=='updated_at') return;
    if(column.Type=='text'){%>
    @Column(columnDefinition = "TEXT")<%}%>
    public <%=column.JavaType%> get<%=column.JavaField.capitalizeFirstLetter()%>() {
        return <%=column.JavaField%>;
    }

    public void set<%=column.JavaField.capitalizeFirstLetter()%>(<%=column.JavaType%> <%=column.JavaField%>){
        this.<%=column.JavaField%> = <%=column.JavaField%>;
    }
    <%
    });
    %>
    @Override
    public String toString() {
        return ToStringBuilder.reflectionToString(this);
    }
}